@import '../helpers/helpers'

.card
	position: relative
	&:hover
		z-index: 2
		.card-buttons
			visibility: visible
			opacity: 1
	// Product
	&--product
		height: 100%
		padding: 35px
		border-radius: 4px
		border: 1px solid $trsp
		transition: $trs-3s
		&:hover
			border-color: #f4f4f4
			box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07)
			background-color: $white
		.card-labels
			position: absolute
			top: 0
			left: 0
			right: 0
			z-index: 1
			display: flex
			flex-wrap: wrap
			.label
				padding: 8px 12px
				border-radius: 32px
				font-size: 12px
				line-height: 1
				&-featured
					background-color: #fe8858
					color: $white
					font-weight: 200
				&-promo
					margin-left: auto
					background-color: #ffe892
					color: $black
					font-weight: 500
		.card-photo
			> img
				padding: 20px 0
				object-fit: scale-down
		.card-meta
			.sku
				display: block
				color: #8c8c8c
				font-size: 14px
				font-weight: 200
				line-height: 1
			.stock
				display: block
				margin-top: 15px
				font-size: 14px
				font-weight: 200
				line-height: 1
				&::before
					content: ''
					display: inline-block
					width: 10px
					height: 10px
					border-radius: 50%
					margin-right: 8px
				&-in
					color: #555
					&::before
						background-color: $green-2
				&-out
					color: #aaa
					&::before
						background-color: #e0e0e0
			.price
				margin-top: 15px
				display: flex
				align-items: flex-end
				flex-wrap: wrap
				line-height: 1
				&-wrapper
					display: flex
					align-items: center
					flex-wrap: wrap
					> del
						text-decoration: none
						> .price-amount
							position: relative
							margin-right: 6px
							color: #bbb
							&::after
								content: ''
								position: absolute
								top: 50%
								left: 0
								width: 100%
								height: 1px
								background-color: #bbb
					> ins
						text-decoration: none
						> .price-amount
							color: $black
				&-amount
					color: $black
					font-size: 20px
					font-weight: 200
					.currencySymbol
						font-weight: 200
				&-count
					margin-left: 10px
					margin-bottom: 2px
					span
						color: #8c8c8c
						font-size: 14px
	// Recipe
	&--recipe
		padding: 0
		.card-link
			z-index: 2
			&:hover
				~ .overlay
					visibility: visible
					opacity: 1
				~ img
					transform: scale(1.05)
		.card-photo
			border-radius: 10px
			.overlay
				visibility: hidden
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 1
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				background-color: rgba($orange, 0.65)
				color: $white
				opacity: 0
				transition: $trs-3s
				.icon
					font-size: 26px
			> img
				transform: scale(1.00001)
				transition: $trs-3s
		.card-meta
			z-index: 1
			padding: 30px 35px
			+media-breakpoint-down(xl)
				padding: 25px 20px
			.time
				display: flex
				flex-wrap: wrap
				align-items: center
				.icon
					margin-right: 8px
					color: $orange
					font-size: 18px
				span
					color: $textcolor
					font-size: 14px
			.title
				font-size: 18px
	// Base customize
	&-photo
		position: relative
		overflow: hidden
		height: 305px
		> img
			width: 100%
			height: 100%
			object-fit: cover
	&-meta
		.title
			position: relative
			z-index: 2
			display: block
			margin-top: 6px
			color: $black
			font-size: 17px
			line-height: 1.35
			&:hover
				color: $orange
	&-buttons
		visibility: hidden
		position: relative
		z-index: 2
		padding-top: 30px
		opacity: 0
		transition: $trs-3s
		.btn
			&:not(:last-child)
				margin-right: 10px
	&-link
		position: absolute
		top: 0
		left: 0
		z-index: 1
		width: 100%
		height: 100%
		display: block


/* ==========================================================================
	 Card «Review»
	 ========================================================================== */
.card-review
	padding: 40px
	border-radius: 6px
	border: 1px solid $trsp
	transition: $trs-3s
	+media-breakpoint-down(xl)
		padding: 25px
	&:hover
		border-color: $c-f5
		box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05)
		background-color: $white
	&-header
		display: flex
		align-items: center
		padding-left: 50px
		.photo
			overflow: hidden
			width: 70px
			height: 70px
			border-radius: 50%
			border: 2px solid $green
			img
				width: 100%
				height: 100%
				object-fit: cover
		.author
			margin-left: 30px
			+media-breakpoint-down(xl)
				margin-left: 25px
			.name
				display: block
				color: $black
				font-size: 18px
				line-height: 1.3
			.date
				display: block
				color: #8c8c8c
				font-size: 14px
				font-weight: 200
		.rating
			margin-left: auto
			&-list
				display: flex
				align-items: center
			&-star
				color: #e8e8e8
				font-size: 16px
				&--checked
					color: #ffd83a
				&:not(:last-child)
					margin-right: 8px
	&-body
		position: relative
		margin-top: 20px
		padding-left: 50px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			display: block
			width: 24px
			height: 24px
			background: url('../../images/dest/icons/quote.svg') no-repeat center/cover