@import '../helpers/helpers'

.form
	position: relative
	&-group
		position: relative
		display: flex
		flex-direction: column
		&:not(:first-child)
			margin-top: 30px
			+media-breakpoint-down(xs)
				margin-top: 20px
		.form-control,
		.form-textarea
			margin-bottom: 0
	&-buttons
		display: flex
		flex-wrap: wrap
		margin-top: 40px
		.form-submit
			margin-top: 0
		> .btn
			&:not(:last-child)
				margin-right: 12px
		&--auth
			justify-content: space-between
			> .btn
				flex: 0 0 49%
				max-width: 49%
				&:not(:last-child)
					margin-right: 0
	&-label
		margin-bottom: 12px
		color: $black
		font-size: 15px
		cursor: pointer
		+media-breakpoint-down(xs)
			margin-bottom: 8px
		> sup
			color: red
	&-control,
	&-textarea
		appearance: none
		display: block
		width: 100%
		margin-bottom: 20px
		color: $textcolor
		font-size: 14px
		font-weight: 400
		border-radius: 6px
		border: 0
		background-color: $c-f5
		background-clip: padding-box
		color: $black
		transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out
		&:focus
			box-shadow: 0 0 0 2px $green
			background-color: $white
	&-control
		height: 60px
		padding: 0 32px
		line-height: 60px
		&--number
			-moz-appearance: textfield
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0
	&-textarea
		resize: none
		padding: 8px 16px
	&-link
		margin-top: 10px
		text-align: right
		a
			display: inline-block
			color: $textcolor
			font-size: 14px
			&:hover
				color: $orange
	&-submit
		min-width: 160px
		margin-top: 40px


/* ==========================================================================
	 Form «Search»
	 ========================================================================== */
.form-search
	.form-control
		height: 70px
		margin-bottom: 0
		padding-right: 76px
		border-radius: 60px
		line-height: 70px
		+media-breakpoint-down(xl)
			height: 64px
			line-height: 64px
	.btn-search
		position: absolute
		top: 0
		right: 0
		bottom: 0
		height: 100%