@import '../helpers/helpers'

.form
	position: relative
	&-group
		position: relative
		display: flex
		align-items: center
		justify-content: space-between
		&:not(:first-child)
			margin-top: 24px
		.form-control
			margin-bottom: 0
	&-label
		margin-bottom: 0
		cursor: pointer
	&-control,
	&-textarea
		appearance: none
		display: block
		width: 100%
		margin-bottom: 20px
		color: $textcolor
		font-size: 14px
		font-weight: 400
		border-radius: 6px
		border: 0
		background-color: $c-f8
		background-clip: padding-box
		color: $black
		transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out
	&-control
		height: 60px
		padding: 0 32px
		line-height: 60px
		&--number
			-moz-appearance: textfield
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0
	&-textarea
		resize: none
		padding: 8px 16px


/* ==========================================================================
	 Form «Search»
	 ========================================================================== */
.form-search
	.form-control
		height: 70px
		margin-bottom: 0
		padding-right: 76px
		border-radius: 60px
		background-color: $c-f5
		line-height: 70px
		+media-breakpoint-down(xl)
			height: 64px
			line-height: 64px
		&:focus
			box-shadow: 0 0 0 2px $green
			background-color: $white
	.btn-search
		position: absolute
		top: 0
		right: 0
		bottom: 0
		height: 100%