@import '../helpers/helpers'

.modal
	padding-right: 0!important
	padding-left: 0!important
	&.fade
		.modal-dialog
			transform: translate(50px, 0)
	&.show
		.modal-dialog
			transform: none
	&-dialog
		max-width: 600px
		height: 100%
		max-height: 100%
		margin: 0 0 0 auto
		box-shadow: -5px 0px 45px rgba(0, 0, 0, 0.15)
		+media-breakpoint-down(sm)
			max-width: 520px
		&-scrollable
			.modal-content
				max-height: 100vh
	&-content
		border-radius: 0
		border: 0
	&-header
		align-items: center
		height: 86px
		padding: 0 40px
		border-radius: 0
		border-bottom: 0
		background-color: $green
		+media-breakpoint-down(xs)
			height: 70px
			padding: 0 20px
	&-title
		color: $white
		font-size: 22px
		+media-breakpoint-down(xs)
			font-size: 20px
	&-close
		flex: 0 0 auto
	&-body
		overflow-x: hidden
		padding: 30px 40px
		+media-breakpoint-down(xs)
			padding: 10px 20px
	&-footer
		display: block
		padding: 30px 40px
		border-radius: 0
		border: 0
		+media-breakpoint-down(xs)
			padding: 20px 10px