@import '../helpers/helpers'

.footer
	position: relative
	margin-top: 280px
	background-color: #33302c
	&::before
		content: ''
		position: absolute
		bottom: 100%
		left: 0
		right: 0
		z-index: -1
		height: 660px
		background: url('../../images/dest/footer-bg.jpg') no-repeat center/contain
		opacity: 0.06
	&::after
		content: ''
		position: absolute
		bottom: 100%
		left: 0
		right: 0
		height: 23px
		background: url('../../images/dest/footer-pattern.png') no-repeat center/100%