@import '../helpers/helpers'

.section
	position: relative
	margin-top: 120px
	&-header
		margin-bottom: 60px
		text-align: center
	&-suptitle
		margin-bottom: 0
		color: #b9b9b9
		font-size: 17px
		font-weight: 200
	&-title
		font-family: $neucha
		font-size: 46px
		font-weight: 400
		> span
			color: $green
	&-descr
		max-width: 820px
		margin: 0 auto
		font-weight: 200