@import '../helpers/helpers'

.post-edit-link
	display: inline-block
	padding: 4px 8px
	border-radius: 4px
	background-color: $green-accent
	color: $white
	font-size: 13px
	text-transform: uppercase
	&:hover
		background-color: $black
		color: $white

.woocommerce-info
	padding: 16px 22px
	border-radius: 10px
	background-color: #ecfcff
	color: #1c4b54
	line-height: 1.3

.blockOverlay
	z-index: 340 !important
	background-image: none !important
	background-color: none !important
	opacity: 0.85 !important
	// animation: kd-FadeInLoader .6s ease forwards
	&::before
		content: '' !important
		position: absolute
		top: 0
		left: 0
		z-index: 0
		width: 100%
		height: 100%
		background-color: $white
	&::after
		content: ''
		position: absolute
		top: 50%
		left: 50%
		z-index: 1
		display: inline-block
		vertical-align: middle
		width: 26px
		height: 26px
		margin-top: -13px
		margin-left: -13px
		border-radius: 50%
		border: 2px solid rgba($black, 0.15)
		border-left-color: $orange
		will-change: transform
		transform: translate3d(0,0,0)
		animation: kd-rotate .5s infinite linear

.pswp__caption__center
	text-align: center

.woocommerce-notices-wrapper
	margin-bottom: 30px
	.woocommerce-error
		> li
			display: block
			padding: 12px 24px
			border-radius: 6px
			background-color: #fff3f3
			color: #602727
			line-height: 1.45
			+media-breakpoint-down(xs)
				border-radius: 0
			&:not(:last-child)
				margin-bottom: 10px
			.button
				margin-right: 10px
				padding: 5px 10px
				border-radius: 4px
				background-color: darken(#fff3f3, 5%)
				color: #602727
				&:hover
					background-color: darken(#fff3f3, 10%)
	.woocommerce-message
		display: block
		padding: 12px 24px
		border-radius: 6px
		background-color: #eff7ff
		color: #26425f
		line-height: 1.45
		+media-breakpoint-down(xs)
			border-radius: 0
		&:not(:last-child)
			margin-bottom: 10px
		.button
			margin-right: 10px
			padding: 5px 10px
			border-radius: 4px
			background-color: darken(#eff7ff, 5%)
			color: #26425f
			&:hover
				background-color: darken(#eff7ff, 10%)