@import '../helpers/helpers'

.post-edit-link,
.comment-edit-link
	display: inline-block
	padding: 4px 8px
	border-radius: 4px
	background-color: $green-accent
	color: $white
	font-size: 13px
	text-transform: uppercase
	&:hover
		background-color: $black
		color: $white

.blockOverlay
	overflow: hidden
	z-index: 340 !important
	background-image: none !important
	background-color: none !important
	opacity: 0.8 !important
	// animation: kd-FadeInLoader .6s ease forwards
	&::before
		content: '' !important
		position: absolute
		top: 0
		left: 0
		z-index: 0
		width: 100%
		height: 100%
		background-color: $white
	&::after
		content: ''
		position: absolute
		top: 50%
		left: 50%
		z-index: 1
		display: inline-block
		vertical-align: middle
		width: 26px
		height: 26px
		margin-top: -13px
		margin-left: -13px
		border-radius: 50%
		border: 2px solid rgba($black, 0.15)
		border-left-color: $orange
		will-change: transform
		transform: translate3d(0,0,0)
		animation: kd-rotate .5s infinite linear

.pswp__caption__center
	text-align: center

.return-to-shop
	margin-top: 20px
	margin-bottom: 0


/* ==========================================================================
	 WooCommerce Notices
	 ========================================================================== */
.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup
	margin-bottom: 30px
.woocommerce-error
	> li
		display: block
		margin-bottom: 10px
		padding: 16px 22px
		border-radius: 5px
		background-color: #fff3f3
		color: #602727
		line-height: 1.45
		&[data-id]
			padding: 8px 22px
		+media-breakpoint-down(xs)
			border-radius: 0
			font-size: 14px
		b, strong
			font-weight: 500
		.button
			margin-right: 10px
			padding: 8px 10px
			border-radius: 4px
			background-color: darken(#fff3f3, 10%)
			color: #602727
			&:hover
				background-color: darken(#fff3f3, 20%)
			+media-breakpoint-down(xs)
				display: block
				margin-right: 0
				margin-bottom: 10px
				text-align: center
.woocommerce-message
	display: block
	margin-bottom: 10px
	padding: 16px 22px
	border-radius: 5px
	background-color: #eff7ff
	color: #26425f
	line-height: 1.45
	b, strong
		font-weight: 500
	.button
		margin-right: 10px
		padding: 8px 10px
		border-radius: 4px
		background-color: darken(#eff7ff, 10%)
		color: #26425f
		&:hover
			background-color: darken(#eff7ff, 20%)
	+media-breakpoint-down(xs)
		font-size: 14px
		text-align: center
		.button
			display: block
			margin-right: 0
			margin-bottom: 10px
			text-align: center
.woocommerce-info
	display: block
	margin-bottom: 10px
	padding: 16px 22px
	border-radius: 5px
	background-color: #ecfcff
	color: #1c4b54
	line-height: 1.45
	b, strong
		font-weight: 500
	.button
		display: inline-flex
		align-items: center
		margin-right: 10px
		padding: 8px 10px
		border-radius: 4px
		background-color: darken(#ecfcff, 10%)
		color: #1c4b54
		line-height: 1
		&:hover
			background-color: darken(#ecfcff, 20%)
	+media-breakpoint-down(xs)
		font-size: 14px
		text-align: center
		.button
			display: block
			margin-right: 0
			margin-bottom: 10px
			text-align: center


/* ==========================================================================
	 WooCommerce Cart
	 ========================================================================== */
.woocommerce-cart
	&-wrapper
		display: flex
		padding: 30px
		border-radius: 10px
		background-color: $c-f9
		+media-breakpoint-down(lg)
			flex-wrap: wrap
		+media-breakpoint-down(sm)
			padding: 20px
		+media-breakpoint-down(xs)
			padding: 0
			background-color: $trsp
	&-form
		flex: 1 1 auto
		margin-right: 30px
		button[name="update_cart"],
		input[name="update_cart"]
			display: none
		+media-breakpoint-down(lg)
			margin-right: 0
		.coupon
			display: inline-flex
			align-items: center
			margin-top: 30px
			padding: 10px
			border-radius: 48px
			background-color: $white
			+media-breakpoint-down(sm)
				width: 100%
				margin-top: 15px
				box-shadow: 0 0 0 2px rgba($black, 0.015)
			+media-breakpoint-down(xs)
				box-shadow: 0 0 0 2px rgba($black, 0.045)
			+media-breakpoint-down(xxs)
				flex-direction: column
				border-radius: 6px
				padding-bottom: 15px
			label
				display: none
			.form-control
				height: 48px
				margin-bottom: 0
				border-radius: 48px 0 0 48px
				background-color: $white
				line-height: 48px
				&:focus
					box-shadow: none
				+media-breakpoint-down(xs)
					padding-left: 20px
					padding-right: 20px
				+media-breakpoint-down(xxs)
					margin-bottom: 10px
					height: 40px
					line-height: 40px
					text-align: center
			.btn
				height: 48px
				line-height: 48px
	&-item
		position: relative
		padding: 10px 60px 10px 15px
		// border-bottom: 1px solid $border
		background-color: $white
		transition: $trs-3s
		&:first-child
			border-radius: 6px 6px 0 0
		&:last-child
			border-radius: 0 0 6px 6px
		&:hover
			z-index: 1
			// box-shadow: 0 0 0 3px rgba($black, 0.05)
			.product-subtotal
				.amount
					color: $green-accent
			.product-remove
				opacity: 1
		+media-breakpoint-down(md)
			padding-right: 85px
		+media-breakpoint-down(sm)
			padding-right: 45px
			padding-bottom: 20px
			border-radius: 6px
			box-shadow: 0 0 0 2px rgba($black, 0.015)
			&:first-child
				border-radius: 6px
			&:last-child
				border-radius: 6px
			&:not(:last-child)
				margin-bottom: 15px
		+media-breakpoint-down(xs)
			box-shadow: 0 0 0 2px rgba($black, 0.045)
			padding-right: 15px
		&-meta
			display: flex
			align-items: center
			+media-breakpoint-down(xs)
				flex-direction: column
				align-items: flex-start
		.product-thumbnail
			margin-right: 30px
			a
				display: block
				width: 100px
				height: 100px
			img
				width: 100%
				height: 100%
				object-fit: scale-down
			+media-breakpoint-down(xl)
				margin-right: 15px
				a
					width: 70px
					height: 70px
			+media-breakpoint-down(sm)
				a
					width: 50px
					height: 50px
		.product-name
			a
				display: inline-block
				color: $black
				font-size: 18px
				line-height: 1.2
				+media-breakpoint-down(xl)
					font-size: 15px
				&:hover
					color: $orange
		.product-seller
			display: block
			margin-top: 4px
			font-size: 14px
			font-weight: 200
			line-height: 1.3
			+media-breakpoint-down(xl)
				margin-top: 0
				font-size: 13px
		&-details
			+media-breakpoint-down(sm)
				margin-top: 10px
				padding-left: 75px
			+media-breakpoint-down(xs)
				padding-left: 10px
		.product-price
			.amount
				display: block
				color: $black
				font-size: 18px
				font-weight: 500
				+media-breakpoint-down(xl)
					font-size: 16px
			.piece
				display: block
				font-size: 15px
				font-weight: 200
				line-height: 1
				+media-breakpoint-down(xl)
						font-size: 14px
		.product-quantity
			+media-breakpoint-down(xxs)
				margin-top: 20px
				.quantity
					width: 100%
		.product-subtotal
			padding-left: 40px
			+media-breakpoint-down(sm)
				padding-left: 0
				text-align: right
			.amount
				display: block
				color: $black
				font-size: 18px
				font-weight: 500
				transition: color .35s
				+media-breakpoint-down(xl)
					font-size: 16px
				&-descr
					display: block
					color: $textcolor
					font-size: 15px
					font-weight: 200
					line-height: 1
					+media-breakpoint-down(xl)
						font-size: 14px
		.product-remove
			position: absolute
			top: 50%
			right: 20px
			margin-left: 30px
			opacity: 0
			transform: translateY(-50%)
			transition: $trs-3s
			+media-breakpoint-down(xl)
				right: 12px
			+media-breakpoint-down(sm)
				top: 15px
				transform: none
				opacity: 1
	// Cart Info (Cart totals)
	&-info
		flex: 0 0 350px
		overflow: hidden
		position: sticky
		top: 0
		z-index: 1
		height: 100%
		padding: 50px 30px
		border-radius: 10px
		background-color: #edf8ec
		+media-breakpoint-down(xl)
			flex: 0 0 300px
		+media-breakpoint-down(lg)
			flex: 1 1 100%
			margin-top: 30px
		+media-breakpoint-down(xs)
			padding: 20px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			background: url('../../images/dest/bg-item-1.png') no-repeat right bottom
			opacity: 0.5
		.cart-totals
			&-title
				margin-bottom: 20px
				font-size: 30px
				font-family: $neucha
				font-weight: 400
				text-align: center
			&-head
				display: flex
				justify-content: space-between
			&-info
				display: flex
				flex-direction: column
				.title
					color: #1c542b
				.amount
					color: #1c542b
					font-weight: 500
				.descr
					display: block
					margin-top: 8px
					font-size: 14px
					font-weight: 200
					line-height: 1.4
				.cart-subtotal
					margin-bottom: 20px
				.cart-delivery
					margin-bottom: 20px
					.descr
						.amount
							color: $textcolor
							font-weight: 200
				.cart-discount
					display: flex
					justify-content: space-between
					&-label
						flex: 1 1 auto
						margin-right: 15px
					&-content
						flex: 1 1 auto
						text-align: right
						.woocommerce-remove-coupon
							display: inline-block
							margin-left: 6px
							padding: 4px 6px
							border-radius: 16px
							background-color: #f95959
							color: $white
							font-size: 13px
							font-weight: 500
							line-height: 1
							&:hover
								background-color: darken(#f95959, 15%)
				.cart-total
					// margin-top: auto
					margin-top: 60px
					.cart-order-total
						display: flex
						align-items: center
						justify-content: space-between
						font-family: $neucha
						.title
							display: block
							font-size: 30px
							font-weight: 400
						.amount
							display: block
							font-size: 26px
					.checkout-button
						width: 100%
						margin-top: 20px
						text-align: center


/* ==========================================================================
	 WooCommerce Checkout
	 ========================================================================== */
.woocommerce-checkout
	// Select2 Plugin
	.select2
		&-container
			height: 60px
		&-selection
			display: flex
			align-items: center
			justify-content: space-between
			width: 100%
			height: 100%
			padding: 0 32px
			margin-bottom: 20px
			color: $black
			font-size: 14px
			font-weight: 400
			line-height: 60px
			border-radius: 6px
			border: 0
			background-color: $c-f5
			background-clip: padding-box
			outline: none
			&__rendered
				padding-left: 0 !important
			&__clear
				display: none
			&__arrow
				top: 50% !important
				right: 16px !important
				transform: translateY(-50%)
		&-dropdown
			border: 1px solid $border
			box-shadow: 0 5px 15px rgba(0,0,0,0.075)
		&-search
			padding: 16px
			background-color: $c-f9
			&--dropdown
				position: relative
				&::after
					content: ''
					pointer-events: none
					position: absolute
					top: 50%
					right: 30px
					width: 16px
					height: 16px
					margin-top: -8px
					background: url('../../images/dest/icons/search.svg') no-repeat center/100%
					opacity: 0.4
			&__field
				height: 40px
				padding: 0 42px 0 15px !important
				border-radius: 6px
				border: 1px solid $border !important
				line-height: 40px
		&-results
			padding: 16px
			&__options
				outline: none
			&__option
				padding: 8px 16px
				border-radius: 6px
				outline: none
				&:not(:last-child)
					margin-bottom: 4px
				&[data-selected="true"]
					background-color: $c-f7 !important
					color: $black !important
				&--highlighted
					background-color: $orange !important
	// Customize form
	&-wrapper
		display: flex
	&-details
		flex: 1 1 auto
		padding-right: 30px
		border-right: 2px dashed $border

	&-section-title
		margin-bottom: 30px
		font-family: $neucha
		font-size: 32px
		font-weight: 400
	&-billing-wrapper
	&-notes-wrapper
		margin-top: 45px
		.form-row.notes,
		.form-textarea
			margin-bottom: 0
	.wc-ukr-shipping-np-fields
		h3
			margin-bottom: 12px
			color: $black
			font-size: 15px
			font-weight: 200
	// Fields
	.woocommerce-billing-fields
		&__field-wrapper
			display: flex
			flex-wrap: wrap
			.form-row
				flex: 0 0 100%
				&-first
					flex: 0 0 50%
					padding-right: 10px
				&-last
					flex: 0 0 50%
					padding-left: 10px
			.form-group
				margin-top: 0
				&:not(:first-child)
					margin-top: 0
	// Order
	&-review-order
		overflow: hidden
		position: sticky
		top: 0
		z-index: 1
		flex: 0 0 auto
		width: 100%
		max-width: 600px
		height: 100%
		padding: 0 30px 50px 30px
		// border-radius: 10px
		// border-left: 2px dashed $border
		// background-color: #edf8ec
		// &::after
		// 	content: ''
		// 	position: absolute
		// 	left: 0
		// 	right: 0
		// 	bottom: 0
		// 	z-index: 2
		// 	height: 23px
		// 	background: url(../../images/dest/footer-pattern.png) no-repeat center/cover
		// 	opacity: 0.15
		.checkout-btn-complete
			width: 100%
		.woocommerce-checkout-section-title
			padding-left: 18px
			// text-align: center
		&-table
			overflow: hidden
			margin-bottom: 20px
			border-radius: 10px
			background-color: $white
			font-size: 15px
			thead
				border-radius: 6px 6px 0 0
				background-color: $c-f5
				border-bottom: 1px dashed $border
				th
					padding: 15px 30px
					color: $black
					font-weight: 500
					line-height: 1.3
					&.product-name
						width: 60%
					&.product-total
						width: 40%
			tbody
				border-radius: 0 0 6px 6px
				tr:not(:last-child)
					border-bottom: 1px dashed $border
				td
					padding: 12px 30px
				.product-name
					color: $black
					font-weight: 200
					line-height: 1.3
				.product-quantity
					font-size: 14px
					font-weight: 700
					line-height: 1
				.product-total
					color: $black
					font-weight: 400
				.cart-subtotal
					background-color: $c-f9
					.title
						padding: 15px 30px
						color: $black
						font-weight: 500
					.value
						color: $orange
						font-size: 20px
						font-weight: 500

	// Info (shipping, subtotal, total, coupon)
	.woocommerce-checkout-info
		margin-top: 30px
		border-top: 1px dashed $border
		.cart-discount
			display: flex
			align-items: center
			justify-content: space-between
			margin-top: 20px
			padding: 12px 18px
			border-radius: 6px
			background-color: #eff7ff
			.title
				color: #26425f
				font-weight: 400
				font-size: 18px
			.value
				display: inline-flex
				align-items: center
				color: #26425f
				font-size: 20px
				font-weight: 400
				text-align: center
			.woocommerce-remove-coupon
				position: relative
				margin-left: 12px
				padding: 6px
				font-size: 0
				will-change: transform
				transform: scale(1.15)
				&::before,
				&::after
					content: ''
					position: absolute
					top: 50%
					right: 0
					width: 12px
					height: 1px
					background-color: #26425f
					transform: translateY(-50%)
				&::before
					transform: rotate(45deg)
				&::after
					transform: rotate(-45deg)
				&:hover
					transform: scale(1)
		.shipping
			border-bottom: 1px dashed $border
			padding-top: 20px
			padding-bottom: 20px
			.title
				padding-left: 18px
				margin-bottom: 10px
				color: $black
				font-family: $neucha
				font-weight: 400
				font-size: 26px
			.woocommerce-shipping-methods
				overflow: hidden
				display: flex
				flex-direction: column
				background-color: $white
				> li
					position: relative
					&:not(:last-child)
						margin-bottom: 3px
					label
						cursor: pointer
						overflow: hidden
						position: relative
						display: inline-flex
						align-items: center
						width: 100%
						margin-bottom: 0
						padding: 16px 24px 16px 50px
						border-radius: 6px
						border: 1px solid $trsp
						background-color: inherit
						line-height: 1.15
						will-change: transition
						transition: $trs-3s
						.amount
							color: $green-accent
							font-weight: 500
						&::before,
						&::after
							top: 50%
							margin-top: -9px
							margin-left: 18px
						&::before
							border: 4px solid $trsp
						&::after
							background-color: $green-accent
						&:hover
							// background-color: $c-f9
							&::before
								transform: scale(0.75)
					input:checked + label::after
						box-shadow: 0 0 0 1px $green-accent
				> li input[type="radio"]:checked + label
					border-color: $c-f2
					background-color: $c-f9
		.order-total
			display: flex
			align-items: center
			justify-content: space-between
			margin-top: 30px
			padding: 0 18px
			border-radius: 6px
			font-family: $neucha
			font-size: 26px
			line-height: 1
			text-align: center
			.title
				color: $black
			.value
				color: $orange
				font-weight: 200


	// Payment methods
	.woocommerce-checkout-payment
		input[type="checkbox"],
		input[type="radio"]
			border: 0
			clip: rect(1px, 1px, 1px, 1px)
			clip-path: inset(50%)
			height: 1px
			margin: -1px
			overflow: hidden
			padding: 0
			position: absolute
			width: 1px
			word-wrap: normal !important
		.payment_methods
			overflow: hidden
			margin-bottom: 30px
			background-color: $white
			> li
				position: relative
				&:not(:last-child)
					margin-bottom: 3px
				label
					cursor: pointer
					overflow: hidden
					position: relative
					display: inline-flex
					align-items: center
					width: 100%
					margin-bottom: 0
					border-radius: 6px
					border: 1px solid $trsp
					padding: 16px 24px 16px 60px
					background-color: inherit
					color: $black
					font-size: 15px
					font-weight: 200
					line-height: 1.15
					will-change: transition
					transition: $trs-3s
					svg
						position: absolute
						top: 50%
						left: 18px
						width: 24px
						height: 24px
						margin-top: -12px
						fill: rgba($black, 0.15)
						transition: $trs-3s
					&:hover
						// background-color: $c-f9
						svg
							fill: $green
			> li input[type="radio"]:checked + label
				border-color: $c-f2
				background-color: $c-f9
				svg
					fill: $green-accent


// Customize Coupon
.woocommerce-form-coupon
	.coupon-wrapper
		display: inline-block
		padding: 30px
		border-radius: 10px
		border: 2px dashed $border
		p
			text-align: center
	.coupon
		display: inline-flex
		align-items: center
		padding: 10px
		border-radius: 48px
		border: 1px solid $border
		background-color: $white
		+media-breakpoint-down(sm)
			width: 100%
			margin-top: 15px
			box-shadow: 0 0 0 2px rgba($black, 0.015)
		+media-breakpoint-down(xs)
			box-shadow: 0 0 0 2px rgba($black, 0.045)
		+media-breakpoint-down(xxs)
			flex-direction: column
			border-radius: 6px
			padding-bottom: 15px
		label
			display: none
		.form-control
			height: 48px
			margin-bottom: 0
			border-radius: 48px 0 0 48px
			background-color: $white
			line-height: 48px
			&:focus
				box-shadow: none
			+media-breakpoint-down(xs)
				padding-left: 20px
				padding-right: 20px
			+media-breakpoint-down(xxs)
				margin-bottom: 10px
				height: 40px
				line-height: 40px
				text-align: center
		.btn
			height: 48px
			line-height: 48px


/* ==========================================================================
	 WooCommerce Order Resume
	 ========================================================================== */
.woocommerce-order
	max-width: 80%
	margin: 0 auto
	+media-breakpoint-down(lg)
		max-width: 100%
	.woocommerce-notice
		padding: 50px 20px
		border-radius: 10px
		background: #f0ffef url('../../images/dest/vegetables-bg.png') no-repeat center
		color: #295826
		font-family: $neucha
		font-size: 32px
		font-weight: 400
		line-height: 1.35
		text-align: center
		+media-breakpoint-down(lg)
			font-size: 28px
		+media-breakpoint-down(sm)
			padding: 35px 15px
			font-size: 24px
		+media-breakpoint-down(xs)
			padding: 25px 15px
	&-overview
		display: flex
		flex-wrap: wrap
		margin: 40px 0
		> li
			flex: 1 1 0%
			margin-bottom: 20px
			padding: 0 20px
			border-right: 1px solid $border
			color: #777
			text-align: center
			&:last-child
				border-right: 0
			> strong
				display: block
				margin-top: 10px
				color: $black
				font-weight: 500
			&.order > strong
				border-radius: 5px
				background-color: #eff7ff
		+media-breakpoint-down(md)
			> li
				flex: 0 0 50%
				margin-bottom: 30px
				border-right: 0
				&:nth-child(2n+1)
					border-right: 1px solid $border
				&:last-child
					border-right: 0
		+media-breakpoint-down(xs)
			> li
				flex: 0 0 100%
				margin-bottom: 20px
				padding: 0 12px 20px
				border-right: 0 !important
				border-bottom: 1px solid $border
				> strong
					margin-top: 5px
	&-details
		&__title
			color: $black
			font-family: $neucha
			font-size: 32px
			font-weight: 400
		.woocommerce-table--order-details
			width: 100%
			border-spacing: 0
			border-collapse: collapse
			background-color: $white
			line-height: 1.4
			tr td:last-child,
			tr th:last-child
				text-align: right
			td,
			th
				max-width: 50%
				width: 50%
			thead
				tr
					border-bottom: 2px solid $border
				th
					padding: 15px 12px
					color: $black
					font-weight: 500
			tbody
				tr
					&:not(:last-child)
						border-bottom: 1px solid $border
				td
					padding: 10px 12px
					font-weight: 200
					a
						color: $textcolor
						&:hover
							color: $green-accent
					.product-quantity
						font-size: 14px
						font-weight: 400
			tfoot
				tr
					border-top: 1px solid $border
				th
					padding: 20px 12px
					color: $black
					font-weight: 500
				td
					padding: 20px 12px
	.woocommerce-customer-details
		margin-top: 40px
		.woocommerce-column__title
			color: $black
			font-family: $neucha
			font-size: 32px
			font-weight: 400


/* ==========================================================================
	 WooCommerce Wishlist
	 ========================================================================== */
#yith-wcwl-popup-message
	display: none !important

.wishlist-empty,
.cart-empty
	text-align: center
	&-icon
		color: rgba($black, 0.1)
		font-size: 160px
		line-height: 1
		+media-breakpoint-down(md)
			font-size: 120px
		+media-breakpoint-down(xs)
			font-size: 80px
	&-title
		margin-top: 40px
		color: $black
		font-family: $neucha
		font-size: 32px
		font-weight: 400
		line-height: 1.3
		+media-breakpoint-down(xs)
			margin-top: 20px
			font-size: 26px
	&-descr
		margin-top: 15px
		+media-breakpoint-down(xs)
			font-size: 15px
		+media-breakpoint-down(xxs)
			font-size: 14px
	&-button
		margin-top: 40px
		+media-breakpoint-down(xs)
			margin-top: 20px
			

.wishlist-title
	display: none

.wishlist_table
	.card-product
		.card-buttons
			visibility: visible
			opacity: 1
			.button
				margin-bottom: 0

.yith-wcwl-share
	float: none !important
	&-title
		margin-top: 10px !important
		margin-bottom: 20px !important
		color: $black
		font-family: $neucha
		font-size: 32px
		font-weight: 400
		line-height: 1.3
		+media-breakpoint-down(sm)
			text-align: center

.yith-wcwl-after-share-section
	display: flex
	align-items: center
	.form-control
		display: inline-flex
		align-items: center
		max-width: 420px
		margin-bottom: 0
		margin-right: 20px
		padding: 0 20px
		border: 1px solid $green
		background-color: $white
	.copy-trigger
		color: $orange-accent
		font-weight: 500
	+media-breakpoint-down(sm)
		flex-direction: column
		.form-control
			max-width: 100%
			margin-right: 0
			margin-bottom: 10px
			text-align: center
		small
			text-align: center