@import '../helpers/helpers'

/* ==========================================================================
	 Section: Heroes
	 ========================================================================== */
.h-heroes
	margin-top: 60px
	&-slider
		overflow: hidden
		position: relative
		border-radius: 10px
		.swiper-pagination
			bottom: 50px
			text-align: left
			&-bullet
				box-shadow: 0 0 0 3px $trsp
				background-color: $black
				outline: none
				opacity: 0.15
				transition: $trs-3s
				&:not(:first-child)
					margin-left: 15px
				&-active
					box-shadow: 0 0 0 3px $black
					opacity: 0.35
	&-slide
		position: relative
		height: auto
		padding: 80px 10px
		&::before
			content: ''
			position: absolute
			left: 40%
			bottom: -200px
			z-index: -1
			width: 400px
			height: 400px
			border-radius: 100%
			border: 104px solid $trsp
			opacity: 0.35
		&::after
			content: ''
			position: absolute
			right: -220px
			top: -320px
			z-index: -1
			width: 400px
			height: 400px
			border-radius: 100%
			border: 60px solid $trsp
			opacity: 0.35
		&--orange
			background-color: #fdf6e5
			&::before, &::after
				border-color: #f9edc2
		&--green
			background-color: #f4fde5
			&::before, &::after
				border-color: #e7f9c2
		&--blue
			background-color: #f1f9fb
			&::before, &::after
				border-color: #d9f4ff
	&-content
		display: flex
		align-items: center
		height: 440px
		+media-breakpoint-down(xl)
			height: 400px
	&-meta
		flex: 0 0 42%
		max-width: 42%
		margin-bottom: 50px
		+media-breakpoint-down(xl)
			flex-basis: 45%
			max-width: 45%
		.title
			color: $black
			font-size: 76px
			font-family: $neucha
			font-weight: 400
			line-height: 1.15
			+media-breakpoint-down(xl)
				font-size: 60px
			> span
				color: $green
		.descr
			max-width: 570px
			margin-top: 20px
			margin-bottom: 0
			font-size: 17px
		.btn
			margin-top: 30px
	&-photo
		flex: 0 0 58%
		align-self: center
		max-width: 58%
		text-align: right
		+media-breakpoint-down(xl)
			flex-basis: 55%
			max-width: 55%
		img
			max-width: 95%


/* ==========================================================================
	 Section: Advantages
	 ========================================================================== */
.h-advantages
	margin-top: 60px
	&-item
		height: 100%
		padding: 30px
		border-radius: 6px
	&-icon
		margin-bottom: 20px
		.icon
			font-size: 60px
	&-meta
		.title
			font-size: 17px
		.descr
			margin-bottom: 0


/* ==========================================================================
	 Section: About
	 ========================================================================== */
.h-about
	&-meta
		.descr
			margin-top: 40px
		.button
			margin-top: 40px


/* ==========================================================================
	 Section: Koza Recomended
	 ========================================================================== */
.h-recomended
	&-wrapper
		position: relative
		padding: 70px 0
		border-radius: 10px
		background: #fffae7 url('../../images/dest/vegetables-bg.png') no-repeat center
		+media-breakpoint-down(xl)
			padding: 60px 0
		&::after
			content: ''
			position: absolute
			right: 108px
			bottom: 0
			display: block
			width: 426px
			height: 320px
			background: url('../../images/dest/koza-dereza.png') no-repeat center/100%
			+media-breakpoint-down(lg)
				right: 20px
			+media-breakpoint-down(md)
				width: 306px
				height: 230px
	&-title
		margin-bottom: 10px
		> span
			color: $orange
	&-descr
		max-width: 580px
		margin-bottom: 0
		+media-breakpoint-down(lg)
			max-width: 460px
	&-button
		text-align: center
		+media-breakpoint-down(xl)
			margin-top: 30px
			text-align: left


/* ==========================================================================
	 Section: Products
	 ========================================================================== */
.h-products
	&-list
		> [class*="col"]
			margin-bottom: -75px
	&-button
		margin-top: 50px
		text-align: center
		+media-breakpoint-down(xl)
			margin-top: 30px
		.btn
			position: relative
			z-index: 1


/* ==========================================================================
	 Section: Our manufacturers
	 ========================================================================== */
.h-manufacturers
	.section-descr
			margin: 0
	&-wrapper
		position: relative
		overflow: hidden
		padding: 70px 0
		border-radius: 10px
		background-color: #f1fdff
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: url('../../images/dest/bg-pattern-1.png') no-repeat center bottom/100%
			opacity: 0.035
	&-header
		&-title
			.section-descr
				max-width: 600px
		&-button
			margin-top: 20px
		+media-breakpoint-down(xl)
			display: flex
			align-items: center
			justify-content: space-between
			&-button
				flex: 0 0 auto
				margin-top: 0
	&-list
		display: flex
		flex-wrap: wrap
		align-items: center
		+media-breakpoint-down(xl)
			margin-top: 45px
	&-item
		flex: 0 0 20%
		max-width: 20%
		height: 100px
		&:hover
			transform: translateY(-4px)
		> img
			width: 100%
			height: 100%
			padding: 10px
			object-fit: scale-down


/* ==========================================================================
	 Section: Recipes
	 ========================================================================== */
.h-recipes
	&-button
		margin-top: 20px
		text-align: center


/* ==========================================================================
	 Section: Reviews
	 ========================================================================== */
.h-reviews
	&-header
		position: relative
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 40px
	&-slider
		overflow: hidden
		position: relative
	&-slider-nav
		display: flex
		justify-content: center
		.swiper-pagination
			top: 20px
			text-align: center
			+media-breakpoint-down(lg)
				top: 100%
				margin-top: 10px
			&-bullet
				box-shadow: 0 0 0 3px $trsp
				background-color: $black
				outline: none
				opacity: 0.15
				transition: $trs-3s
				&:not(:first-child)
					margin-left: 15px
				&-active
					box-shadow: 0 0 0 3px $orange
					background-color: $orange
					opacity: 1